body {
    background-color: #eff1f1;
}

.container {
    margin-left: 30%;
    font-family: monospace;
}

.placeholder {
    margin-top: 200px;
    font-size: xx-large;
    color: #06062b;
}

.content {
    margin-top: 100px;
    font-size: x-large;
    color: #03030f;
}

ul {
    list-style: none;
    padding: 1.5rem 0;
    margin: 0;
  }
  
  li {
    padding-left: 16px;
  }
  
  li::before {
    content: ">";
    padding-right: 8px;
  }